<ul>
  {{#each model as |collection|}}
  <li>
    <h3>{{#link-to 'collections.show' collection}} {{collection.name}}{{/link-to}}</h3>
    <p>
      {{collection.description}}
    </p>
    <div>
      grade: {{collection.description}}
    </div>
   </li>
  {{/each}}
</ul>

{{outlet}}
