<h3>{{worksheet.title}} </h3>

<div>
  <ul>
    {{#each questions as |question|}}
          <li>{{question.text}}</li>
    {{/each}}
  </ul>
</div>

{{#linkTo 'groups.show' worksheet.group}} Back to {{worksheet.group.name}} {{/linkTo}}
