
{{link-to 'Zurück' 'groups.show.worksheet_set' worksheet.worksheetSet.group.id worksheet.worksheetSet.id id='back-link'}}

<h3 id="worksheet-title">{{worksheet.title}} </h3>


<table id="worksheet-table">
    <thead>
      <td>
        #
      </td>
      <td>
        Aufgabe
      </td>
      <td>
        Lösung
      </td>
    </thead>
<tbody>
    {{#each questions as |question index|}}
      {{question-row question=question index=index}}
    {{/each}}
</tbody>
</table>
