<h3>{{worksheet.title}} </h3>

<div id="worksheetTable">
  <table class="table">
    <thead>
      <td>
        #
      </td>
      <td>
        Question
      </td>
      <td>
        Solution
      </td>
    </thead>
<tbody>
    {{#each questions as |question index|}}
      {{question-row question=question index=index}}
    {{/each}}
</tbody>
  </table>
</div>

{{#link-to 'groups.show.worksheet_set' worksheet.worksheetSet.group.id worksheet.worksheetSet.id}} Back to {{worksheet.worksheetSet.title}} {{/link-to}}
