.centered {
  margin-left: auto;
  margin-right: auto;
}

.small {
  max-width: 100px;
}

.delete-button {
  display: inline;
}

.tab-item {
  list-style: none;
  display: inline;
  margin-right: 15px;
}

.tab-link {
  border: solid;
  border-bottom-style: none;
  border-width: thin;
  border-color: grey;
  border-radius: 5px;
  margin-bottom: 2px;
  padding: 5px;
  box-shadow: 3px -3px #747474;
}

/*.active {
  background-color: #BFBFBF;
  box-shadow: 1px -1px #747474;
}*/

.tab-list {
    margin-bottom: 0px;
}

.tab-content {
  background-color: #BFBFBF;
  display: block;
  border: solid;
  border-color: grey;
  border-radius: 5px;
  padding: 15px;
  margin-right: 50px;
}

.drop {
  display: block;
  border: solid;
  border-color: grey;
  border-radius: 5px;
  background-color: grey;
  min-height: 100px;
}

.skill {
    border: solid;
    border-color: grey;
    border-radius: 5px;
    background-color: white;
    padding: 10px;
}


.circled-plus {
  font-size: 50px;
  margin: auto;
  background-color: white;
  border-radius: 50%;
  color: black;
}

.worksheet-form {
  border: solid;
  border-color: grey;
  border-radius: 5px;
  padding: 10px;
  width: 300px;
}
.group {
  background-color: #EDEDED;
  border-radius: 5px;
  box-shadow: 5px -5px #747474;
  padding: 10px;
  margin: 10px;
}

.selected {
  background-color: #BFBFBF;
  box-shadow: 1px -1px #747474;
}

div, p {
  font-size: 16px;
}

h3 {
  font-size: 20px;
  font-weight: bold;ctrl
}
