<h3>Erstelle eine neue Lerngruppe</h3>
  <form role="form">
    <div class="form-group">
      <label>
        Klasenstufe:
        <br>
        {{input type="number" value=group.grade min="1" max="13" step="1"  placeholder="Grade" class="form-control"}}
      </label>
    </div>

    <div class="form-group">
      <label>
        Klasse:
        <br>
        {{input value=group.name placeholder="Name" class="form-control"}}
      </label>
    </div>

    <div class="form-group">
      <label>
        Beschreibung:
        <br>
        {{textarea value=group.description placeholder="Description" class="form-control"}}
      </label>
    </div>



    <div class="form-group">
      <label>Schuljahr:
        <br>
        {{#x-select value=group.year class="form-control"}}
        {{#x-option value=nil}} None {{/x-option}}
        {{#x-option value="2015/16"}} School year 2015/16 {{/x-option}}
        {{#x-option value="2016/17"}} School year 2016/17 {{/x-option}}
        {{#x-option value="2017/18"}} School year 2017/18 {{/x-option}}
        {{/x-select}}
      </label>
      <br>
    </div>

    <div class="form-group">
      <button type="button" {{action 'submit'}} class='btn btn-default'> Create </button>
    </div>
  </form>
