<h2> {{group.name}}</h2>
<ul class="list-unstyled">
  {{#each group.worksheets as |worksheet|}}
    {{worksheet-short worksheet=worksheet}}
  {{/each}}
</ul>

<form role="form">
  <h3> Create a new worksheet</h3>
  {{input value=new_worksheet.title}}
  <button class= "btn" type="button" {{action "submit"}}> Create </button>
</form>
