<h2> {{model.name}}</h2>
<ul class="list-unstyled">
  {{#each model.worksheets as |worksheet|}}
  <li> {{#link-to 'worksheets.show' worksheet}} {{worksheet.title}} {{/link-to}}</li>
  {{/each}}
</ul>
<input name="name" class="title-field" placeholder="Title"/>
<button type="button" {{action 'create_worksheet'}}> Create a new worksheet </button>
