<h2>Dashboard</h2>

<p>Deine Klassen</p>

<ul>
  {{#each groups as |group|}}
    <li> {{link-to group.fullName 'groups.show' group}} </li>
  {{/each}}
</ul>

<p>Deine Fabriken</p>

<ul>
  {{#each factories as |factory|}}
    <li> {{factory.name}} </li>
  {{/each}}
</ul>

{{outlet}}

<p>
  Ändere dein Passwort
</p>
