<div class="row">
  <div class="col-md-3">
    <ul class="list-unstyled">
      {{#group-list selected=selectedGroup as |list|}}
          {{#each sortedGroups as |group|}}
          {{group-item group=group list=list action='showGroup'}}
        {{/each}}
      {{/group-list}}
    </ul>
    <li class="group">
      {{#link-to 'groups.new' class="circled-plus"}} + {{/link-to}}
    </li>
  </div>

  <div class="col-md-9">
     {{outlet}}
  </div>
</div>
