
<div class="jumbotron">
  <div class="container">
    <h2>Welcome to the WorksheetFactory </h2>
    <p>
      Your scholars need quizzes to train their mathematical basics?
    </p>
    <p>
      You are tired of creating the 1000th worksheet for them?
    </p>
    <p>
      The WorksheetFactory is for you. It will unload the burden to create ever new worksheets and give you the time to focus on things that matter.
    </p>
    <p>
      {{#link-to 'groups.index' class="btn btn-primary btn-lg" role="button" }}
      Get started &raquo;
      {{/link-to}}
    </p>
  </div>
</div>
