
<div class="content-wrapper">
    <h2>Wilkommen in der WorksheetFactory </h2>
    <p>
      Deine Schüler brauchen Training von Basisfähigkeiten?
      Immer wieder neue Aufgaben auszudenken, langweilt dich?
    </p>
    <p>
      Die WorksheetFactory ist für dich.
      Es nimmt dir die Last neue Übungsblätter zu erarbeiten
      und behält für dich den Überblick über die Fähigkeiten deiner Schüler.
    </p>
    <p>
      {{#link-to 'login' class="button" role="button" }}
      Leg gleich los &raquo;
      {{/link-to}}
    </p>
</div>
