<header>
  <nav id="main-nav">
    <a class="logo" href="#">Worksheet Factory</a>
    <ul id="main-nav-links">
      <li>{{#link-to 'index'}} Home {{/link-to}}</li>
      <li>{{#link-to 'groups.index'}} groups {{/link-to}}</li>
      <li>{{#link-to 'worksheets.index'}} Worksheets {{/link-to}}</li>
    </ul>
  </nav>
</header>

{{yield}}
