<header>
  <nav id="main-nav">
    <a class="logo" href="#">Worksheet Factory</a>
    <ul id="main-nav-links">
        {{#if session.isAuthenticated}}
            <li>{{#link-to 'groups.index'}} Klassen {{/link-to}}</li>
          <li>  <a href='dashboard'>{{email}} </a>  </li>
          <li><a {{action 'logout'}}>Logout</a></li>
         {{else}}
           <li> {{#link-to 'login'}}Login{{/link-to}} </li>
       {{/if}}
    </ul>
  </nav>
</header>

{{yield}}
