<h3>
  {{#link-to 'worksheets.show' worksheet.id}}
    {{worksheet.title}}
  {{/link-to}}
</h3>
{{worksheet.archived}}
<button class="btn btn-danger" {{action "pressedButton"}}>Archive</button>



{{yield}}
