<h3>Erstelle einen neues Set</h3>
  <form role="form">
    <div class="form-group">
      <label>Wähle eine Fabrik:
        <br>
        {{#x-select value=worksheetSet.factory class="form-control"}}
        {{#x-option value=0}} None {{/x-option}}
        {{#each factories as |factory|}}
        {{#x-option value=factory}} {{factory.name}} {{/x-option}}
        {{/each}}
        {{/x-select}}
      </label>
      <br>
      {{#link-to 'factories.new'}} Oder erstelle eine neue Fabrik {{/link-to}}
    </div>

    <div class="form-group">
      <button type="button" {{action 'submit'}} class='btn btn-default'> Create </button>
    </div>
  </form>
