
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      {{worksheet-set-tag worksheet_set=worksheetSet}}
    </div>
  </div>
  <div class="col-md-6">
    {{outlet}}
  </div>
</div>
