<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      {{worksheet-set-tag worksheetSet=worksheetSet}}
    </div>
  </div>
  <div class="col-md-6">
    positive: {{positive}}
    negative: {{negative}}
    {{outlet}}
  </div>
</div>
